*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 3rem;
}

.container {
  padding: 10px; 
  margin-left: 8%;  
  margin-right: 8%; 
  height: auto; 
  /* border: dashed red;  */
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
  
}

.image {
  /* object-fit: cover;  */
  padding: 0; 
  max-width: 100%;
  height: auto; 
  background-size: cover; 
  background-position: center; 
}